<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RealmStudioX.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RealmStudioX.WPF.Properties.Settings>
            <setting name="MeasurementUnits" serializeAs="String">
                <value>U.S. Customary</value>
            </setting>
            <setting name="DefaultMapSize" serializeAs="String">
                <value>1920, 1080</value>
            </setting>
            <setting name="MapAssetDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="RealmAutosave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutosaveDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="AutosaveInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PlaySoundOnSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultExportFormat" serializeAs="String">
                <value>png</value>
            </setting>
            <setting name="DefaultRealmDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoCheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableWAIntegration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WorldAnvilApiToken" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFileDirectory" serializeAs="String">
                <value />
            </setting>
        </RealmStudioX.WPF.Properties.Settings>
    </userSettings>
</configuration>